 /* Google Font import  */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 /* inter family */
 /* font-family: 'Inter', sans-serif; */

 body{
    font-family: 'Poppins', sans-serif;
 }
 .bg-header{
    background-color: #264653;
}

 .title-motive{
    font-weight: 300;
    font-size: 14px;
 }
.title-text{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #E0E0E0;
}

.btn-color{
    background-color: #E76F51;
}

.small-text{
    font-weight: 600;
    font-size: 0.8rem;
    color: #E76F51;
}

.img-gray{
    filter: grayscale(100%);
}

.orange-color{
    color: #E76F51;
}

.profile-img{
    width: 10rem;
    height: auto;
}